# Data Science Pandas

## Tasks Today:

0) <b>Pre-Work</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Numpy Random Sampling

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Slicing a DataFrame <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - drop_duplicates() <br>

## Numpy Random Sampling

In [2]:
import numpy as np

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [4]:
!pip install pandas

In [3]:
import pandas as pd

# always use pd, standard for data science

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

##### read_csv()

In [1]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

### In-Class Exercise #1 - Read in Boston Red Sox Hitting Data <br>
<p>Use the pandas read_csv() method to read in the statistics from the two files yesterday.</p>

In [2]:
import pandas as pd

redsox_2017 = 'redsox_2017_hitting.txt'  
redsox_2018 = 'redsox_2018_hitting.txt'  

df_2017 = pd.read_csv(redsox_2017, delimiter=',')  
df_2018 = pd.read_csv(redsox_2018, delimiter=',')

    Rk Pos                Name  Age    G   PA  ...   TB  GDP  HBP  SH  SF  IBB
0    1   C   Christian Vazquez   26   99  345  ...  131   14    3   0   1    0
1    2  1B      Mitch Moreland   31  149  576  ...  225   14    6   0   5    6
2    3  2B      Dustin Pedroia   33  105  463  ...  159   11    2   2   4    4
3    4  SS     Xander Bogaerts   24  148  635  ...  230   17    6   0   2    6
4    5  3B       Rafael Devers   20   58  240  ...  107    5    0   0   0    3
5    6  LF   Andrew Benintendi   22  151  658  ...  243   16    6   1   8    7
6    7  CF  Jackie Bradley Jr.   27  133  541  ...  194    8    9   0   2    4
7    8  RF        Mookie Betts   24  153  712  ...  288    9    2   0   5    9
8    9  DH      Hanley Ramirez   33  133  553  ...  213   15    6   0   0    8
9   10   C          Sandy Leon   28   85  301  ...   96    5    1   1   3    1
10  11  UT         Chris Young   33   90  276  ...   94    4    2   0   1    0
11  12  3B       Deven Marrero   26   71  188  ...   57    8    0   3   2    0
12  13  2B       Eduardo Nunez   30   38  173  ...   89    3    2   0   0    0
13  14  2B          Brock Holt   29   64  164  ...   34    3    3   0   2    0
14  15  IF       Josh Rutledge   28   37  118  ...   28    1    2   0   0    0
15  16  3B      Pablo Sandoval   30   32  108  ...   35    4    0   0   1    0
16  17  UT          Sam Travis   23   33   83  ...   26    2    1   0   0    0
17  18  UT         Tzu-Wei Lin   23   25   66  ...   19    0    0   1   0    0
18  19  IF     Marco Hernandez   24   21   60  ...   19    0    1   0   0    0
19  20  UT         Rajai Davis   36   17   38  ...   11    2    1   0   0    0
20  21  UT        Steve Selsky   27    8    9  ...    2    0    0   0   0    0
21  22  UT       Blake Swihart   25    6    7  ...    1    0    0   0   0    0
22  23  2B      Chase d'Arnaud   30    2    1  ...    1    0    0   0   0    0

[23 rows x 28 columns]

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

##### df.loc

<p>Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:</p>

##### keys()

In [5]:
# Access all of the keys/columns of the dataframe
# Dataframe.keys()

##### Slicing a DataFrame

In [6]:
# printing all data for context

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### head()

In [7]:
# DataFrame.head()  -- Accepts integer parameter(gives access to more rows)

##### tail()

In [8]:
# DataFrame.tail()  -- Accepts integer parameter(gives access to more rows)

##### shape

In [9]:
# The dataframe has a shape property, just like a NumPy matrix. 
# print(df.shape) -- DataFrame.shape -- No Parameter

##### describe() <br>
<p>Probably one of the most important methods to understand...</p>

In [10]:
# Collect summary statistics in one line
# DataFrame.describe() -- Accepts parameters (include, exclude)

##### sort_values()

In [11]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()

# DataFrame.sort_values('key')

##### .columns

In [12]:
# will show all cols headers
# DataFrame.columns -- has no parameters


# Keys brings back the 'index' of whatever data type we are working with

### In-Class Exercise #2 - Describe & Sort Boston Red Sox Hitting Data <br>
<p>Take the data that you read in earlier from the Red Sox csv's and use the describe method to understand the data better. Compare the two years and decide which team is having the better year. Then sort the values based on Batting Average.</p>

In [3]:
df_2017.describe()

             Rk        Age           G  ...         SH         SF        IBB
count  23.00000  23.000000   23.000000  ...  23.000000  23.000000  23.000000
mean   12.00000  27.478261   72.086957  ...   0.347826   1.565217   2.086957
std     6.78233   4.110624   52.747178  ...   0.775107   2.149547   3.073539
min     1.00000  20.000000    2.000000  ...   0.000000   0.000000   0.000000
25%     6.50000  24.000000   28.500000  ...   0.000000   0.000000   0.000000
50%    12.00000  27.000000   64.000000  ...   0.000000   1.000000   0.000000
75%    17.50000  30.000000  119.000000  ...   0.000000   2.000000   4.000000
max    23.00000  36.000000  153.000000  ...   3.000000   8.000000   9.000000

[8 rows x 26 columns]

In [4]:
df_2018.describe()

             Rk        Age           G  ...         SH         SF        IBB
count  20.00000  20.000000   20.000000  ...  20.000000  20.000000  20.000000
mean   10.50000  29.100000   82.350000  ...   0.350000   2.400000   1.900000
std     5.91608   4.666792   52.916294  ...   0.812728   2.436564   3.110255
min     1.00000  21.000000    2.000000  ...   0.000000   0.000000   0.000000
25%     5.75000  25.000000   37.000000  ...   0.000000   0.000000   0.000000
50%    10.50000  29.500000   85.500000  ...   0.000000   2.000000   0.000000
75%    15.25000  32.500000  129.250000  ...   0.000000   4.250000   2.250000
max    20.00000  37.000000  150.000000  ...   3.000000   7.000000  11.000000

[8 rows x 26 columns]

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [13]:
# Conditional boolean dataframe

##### Subsetting

In [14]:
# exactly like numpy

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following dataframe containing membership term and renewal number for a group of customers:</p>

In [15]:
# Generate some fake data

##### Generating a New Column w/Data

In [16]:
# DataFrame['key'] = Some Calculation from our DataFrame Columns

##### User Defined Function

<p>If what you want to do to a column that can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column. Let's add some ages to our customer dataframe, and then classify them into our custom defined grouping scheme:</p>

In [18]:
# use .apply to map over dataframe

# Create a new column for ages
# customers['ages'] = np.random.randint(18,70,10)

# User defined function

    
# print(make_age_groups)

<p>As a last example I'll show here how you would use a lambda function to create a UDF that depends on $\textit{more than one}$ column:</p>

<li>UDF = User Defined Function</li>

In [19]:
#Axis for apply can only be 1 or 0 -- 1 being the X axis 0 being the Y axis

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Boston Red Sox data, create your own UDF which creates a new column called 'All-Star' and puts every player with either a batting average over .280 or an on base percentage of over .360 with a result of 'Yes' in the column and 'No' if not.</p>

In [7]:
"""
    Name  BA OBP AllStar
    --------------------
    Name .233 .360 Yes
    Name .150 .288 No
"""

# Function to determine All-Star status
def is_all_star(row):
    if row['BA'] > 0.280 or row['OBP'] > 0.360:
        return 'Yes'
    else:
        return 'No'

# Apply the function to create the 'AllStar' column
df_2017['AllStar'] = df_2017.apply(is_all_star, axis=1)

# Display the result
print(df_2017[['Name', 'BA', 'OBP', 'AllStar']].to_string(index=False))

              Name    BA   OBP AllStar
 Christian Vazquez 0.290 0.330     Yes
    Mitch Moreland 0.246 0.326      No
    Dustin Pedroia 0.293 0.369     Yes
   Xander Bogaerts 0.273 0.343      No
     Rafael Devers 0.284 0.338     Yes
 Andrew Benintendi 0.271 0.352      No
Jackie Bradley Jr. 0.245 0.323      No
      Mookie Betts 0.264 0.344      No
    Hanley Ramirez 0.242 0.320      No
        Sandy Leon 0.225 0.290      No
       Chris Young 0.235 0.322      No
     Deven Marrero 0.211 0.259      No
     Eduardo Nunez 0.321 0.353     Yes
        Brock Holt 0.200 0.305      No
     Josh Rutledge 0.224 0.297      No
    Pablo Sandoval 0.212 0.269      No
        Sam Travis 0.263 0.325      No
       Tzu-Wei Lin 0.268 0.369     Yes
   Marco Hernandez 0.276 0.300      No
       Rajai Davis 0.250 0.289      No
      Steve Selsky 0.111 0.111      No
     Blake Swihart 0.200 0.429     Yes
    Chase d'Arnaud 1.000 1.000     Yes

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

In [20]:
# also introducing .count() here, exact same as to how it's used in SQL

# Using the groupby with the column intact as a column/key
# customers.groupby('age_group', as_index = False).count()[['customer_id','age_group']]

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

In [21]:
# mean = average

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

##### drop_duplicates()

<p>Drops all duplicates from the current dataframe</p>

In [22]:
# Send customer data into a CSV file

<p>Thus the groupby operation allows you to rapidly make summary observations about the state of your entire dataset at flexible granularity. In one line above, we actually did something very complicated - that's the power of the dataframe. In fact, the process often consists of several iterative groupby operations, each revealing greater insight than the last - if you don't know where to start with a dataset, try a bunch of groupbys!</p>

### Homework Excersise #1 - Find the Total Number of Runs and RBIs for the Red Sox <br>
<p>Get total number of home runs and rbi's</p>

In [15]:
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'

# step 2: Group by the 'Team' column and get total home runs and rbi's

# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n)

"""
TEAM    HR   RBI
----------------
BOS     144  538
"""

df_2017['Team'] = 'BOS'
df_2018['Team'] = 'BOS'

# Step 2: Group by the 'Team' column and get total home runs (HR) and RBIs
totals_by_team_2017 = df_2017.groupby('Team').agg({'HR': 'sum', 'RBI': 'sum'})
totals_by_team_2018 = df_2018.groupby('Team').agg({'HR': 'sum', 'RBI': 'sum'})

# Produce data for both 2017 and 2018
result_string_2017 = "\n".join([
    f"TEAM    HR   RBI",
    f"----------------",
    f"BOS     {totals_by_team_2017.loc['BOS', 'HR']}   {totals_by_team_2017.loc['BOS', 'RBI']}\n"
])
result_string_2018 = "\n".join([
    f"BOS     {totals_by_team_2018.loc['BOS', 'HR']}   {totals_by_team_2018.loc['BOS', 'RBI']}"
])
print(result_string_2017+result_string_2018)

TEAM    HR   RBI
----------------
BOS     168   735
BOS     208   826

## Find the average age of runners in the 2017 Boston Marathon

In [17]:

average_age_2017 = df_2017['Age'].mean()

print(f"The average age of runners in the 2017 Boston Marathon is: {average_age_2017:.2f} years")

The average age of runners in the 2017 Boston Marathon is: 27.48 years